<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
</head>
<body>
    <button id="btn">Click Me</div>
    <script>
    let clicks = 0;     // счетчик нажатий
    function btn_click(){
        console.log("Clicked", ++clicks);
    }
    const btn = document.getElementById("btn");

    // прикрепляем первый обработчик события "click" в виде функции btn_click
    btn.addEventListener("click", btn_click);

    // прикрепляем второй обработчик события "click" в виде анонимной функции
    btn.addEventListener("click", function(){
        console.log("Button clicked!")
    });

    // прикрепляем третий обработчик события "click" в виде стрелочной функции
    btn.addEventListener("click", ()=>console.log("Element clicked!"));

    </script>
</body>
</html>